<div class="nav-left">
  <button class="hamburger-menu" id="menu-toggle" aria-label="Toggle navigation">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <span class="nav-title">Pedro M. Dominguez</span>
</div>
<div class="menu-container">
  <div class="sidebar hidden" id="sidebar-menu">
    <div class="sidebar-header">
      <button class="hamburger-menu close-menu" id="sidebar-toggle" aria-label="Toggle menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <h2>📌 Menu</h2>
    </div>
    <ul class="nav-links">
      <li><a href="../../pages/home/index.html">🏠 Home</a></li>
      <li><a href="../../pages/about/about.html">👨‍💻 About Me</a></li>
      <li><a href="../../pages/contact/contact.html">📬 Contact Me</a></li>
      <li><a href="../../pages/appointments/appointment-booker.html">🗓️ Book a Consultation</a></li>
      <li><a href="../../pages/cambridge/performance-test.html">🗓️ Cambridge Performance Test</a></li>
    </ul>
    <div class="nav-container">
      <a href="../../pages/auth/login.html" class="nav-button">🫅 Admin Login</a>
    </div>
  </div>
  <div class="overlay hidden" id="menu-overlay"></div>
</div>
